@{
    ViewData["Title"] = "Home";
}

@{
    DateTime dateTimeNow = DateTime.Now;
    int hour = dateTimeNow.Hour;
    string partOfDay;

    if (hour < 12)
    {
        partOfDay = "morning";
    }

    else if (hour < 6)
    {
        partOfDay = "afternoon";
    }
    else
    {
        partOfDay = "evening";
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        It is <strong>@partOfDay</strong> on <strong>@dateTimeNow.ToString("dddd, dd, MMMM")</strong>.
    </p>
</div>


