@{
  ViewData["Title"] = "Student";
}

<div class="container">
  <h1>Student</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis illo blanditiis neque aliquam architecto minima
    excepturi harum aliquid nam et repellendus commodi, ut iusto odio optio tempore temporibus ab cumque.</p>
</div>